html {
    background-color: #053B50;
    color: #EEEEEE;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    font-size:x-large;
}

/*
* Align nav-bar to the right by using margin-left
* margin-bottom to give the nav-bar some breathing room
*/
.nav-bar {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

/*
* Display list items inline to display them horizontally
* margin-left to give the items some spacing
* font size and weight
*/
.nav-bar li {
    display: inline;
    margin-left:75px;
    font-size: 20px;
    font-weight: bold;
}

/*
* Color nav-bar links
*/
.nav-bar a {
    color: #EEEEEE;
}

/*
* use flex to place home container and children
*/
.home-container {
    border: 0.5px solid red;
    display: flex;
    justify-content: space-evenly;
}

.home-child {
    border: 0.5px solid red;
}

/*
* Styling for paragraph of home-child div
*/
.home-child p {
    text-align: justify;
    padding: 50px;
    font-size: 25px;
    font-weight: lighter;
}

/*
* Styling for img of home-child div
*/
.home-child img {
    border-radius: 50%;
}

.pricing-container {
    margin-top: 1in;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;
}

.pricing-child {
    padding: 40px;
    border: 0.8px solid #64ccc5;
    background-color: #176B87;
    border-radius: 10%;
    
}

.pricing-child li {
    margin: 10px;
    font-size: 20px;
}

.pricing-child h3 {
    text-align: center;
}


