html {
    background-color: #7EB2DD;
}

.title {
    text-align: center;
    color: #FFE8D4;
}

.nav-bar {
    float:right;
    margin-right: 10%;
}

.nav-bar li {
    display: inline-flex;
    margin-left:75px;
    font-size: 20px;
}

.nav-bar a {
    color: #FFE8D4;
}
